@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
	<link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <h1>בחר/י את הטיול הבא שלך</h1>
    <br/>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/page1"> <img src="~/pic/metzada.jpg"
                     class="img-fluid shadow-1-strong rounded mb-4 square-img"  />
            </a>
                 
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/page2"><img src="~/pic/ceaser.jpg"
                 class="img-fluid shadow-1-strong rounded mb-4 square-img"/> 
            </a>

        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
			<a href="/page3"><img src="~/pic/jerusalem.jpg"
                 class="img-fluid shadow-1-strong rounded mb-4 square-img" />
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/page4"><img src="~/pic/telDan.jpeg"
                 class="img-fluid shadow-1-strong rounded mb-4 square-img"/>
            </a>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/page5">
                <img src="~/pic/govrin.jpg"
                     class="img-fluid shadow-1-strong rounded mb-4 square-img" />
            </a>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <a href="/page6">
                <img src="~/pic/net.jpg"
                     class="img-fluid shadow-1-strong rounded mb-4 square-img"/>
            </a>
        </div>
    </div>

</body>
</html>



