@page
@model project.Pages.RegisterModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <title>הרשמה</title>
</head>

<body dir="rtl">

    <div class="col-xl-6">
        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase">הרשמה</h3>

            <form id="registerForm" method="post">
                <table>
                    <tr>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="FirstName">שם פרטי</label>
                                <input type="text" id="FirstName" name="FirstName" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eFName"></span>
                            </div>
                        </td>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="LastName">שם משפחה</label>
                                <input type="text" id="LastName" name="LastName" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eLName"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top" colspan="2">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="UserName">שם משתמש</label>
                                <input type="text" id="UserName" name="UserName" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eUserName"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="Password">סיסמא</label>
                                <input type="password" id="Password" name="Password" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="ePassword"></span>
                            </div>
                        </td>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="SPassword"> הכנס סיסמא שנית</label>
                                <input type="password" id="SPassword" name="SPassword" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eSPassword"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="Email">אימייל</label>
                                <input type="email" id="Email" name="Email" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eEmail"></span>
                            </div>
                        </td>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="Phone">מספר טלפון</label>
                                <input type="text" id="Phone" name="Phone" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="ePhone"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label" for="BirthDay">תאריך לידה</label>
                                <input type="date" id="BirthDay" name="BirthDay" class="form-control form-control-lg" />
                                <span class="ErrorMassage" id="eBirthDay"></span>
                            </div>
                        </td>

                        <td class="align-top">
                            <div data-mdb-input-init class="form-outline">
                                <label class="form-label">מגדר</label>
                                <div>
                                    <input type="radio" id="male" name="Gender" value="male" />
                                    <label for="male">זכר</label>
                                </div>
                                <div>
                                    <input type="radio" id="female" name="Gender" value="female" />
                                    <label for="female">נקבה</label>
                                </div>
                                <div>
                                    <span class="ErrorMassage" id="eGender"></span>
                                </div>
                            </div>
                        </td>

                    </tr>

                </table>

                <div class="d-flex justify-content-end pt-3">
                    <button type="button" onclick="resetRegisterForm()" class="btn btn-light btn-lg">מחק הכל</button>
                    <button type="submit" class="btn btn-dark" data-mdb-ripple-init>הירשם</button>
                </div>
            </form>

            <script src="~/js/checkregisterform.js"></script>
            <p>יש לך כבר חשבון? <a href="/Login">התחבר</a>.</p>
        </div>
    </div>
    <script>
        function resetRegisterForm() {
            const formInputs = document.querySelectorAll('#registerForm input');
            formInputs.forEach(input => {
                switch (input.type) {
                    case 'text':
                    case 'password':
                    case 'email':
                    case 'tel':
                    case 'date':
                        input.value = '';
                        break;
                    case 'radio':
                        input.checked = false;
                        break;
                    case 'checkbox':
                        input.checked = false;
                        break;
                }
            });
            const errorMessages = document.querySelectorAll('.ErrorMassage');
            errorMessages.forEach(span => {
                span.textContent = '';
            });
            const form = document.getElementById('registerForm');
            if (form) {
                form.classList.remove('was-validated');
            }
        }
    </script>
    <script src="~/js/checkregisterform.js"></script>
</body>
</html>
